@switch (mode().kind) {
  @case ('pick-field') {
    <app-qf-suggestion-list
      [items]="inlineSuggestions()"
      [showSearch]="false"
      [activeIndex]="inlineActiveIndex()"
      (activeIndexChange)="inlineActiveIndexChange.emit($event)"
      (select)="inlineSelect.emit($event)"
      (cancel)="cancel.emit()"
    />
  }
  @case ('pick-operator') {
    <app-qf-suggestion-list
      [items]="inlineSuggestions()"
      [showSearch]="false"
      [activeIndex]="inlineActiveIndex()"
      (activeIndexChange)="inlineActiveIndexChange.emit($event)"
      (select)="inlineSelect.emit($event)"
      (cancel)="cancel.emit()"
    />
  }
  @case ('edit-value') {
    <app-qf-suggestion-list
      [items]="booleanOptions()"
      placeholder="true / false"
      (select)="commitValue.emit($event)"
      (cancel)="cancel.emit()"
    />
  }
  @case ('edit-coalesce') {
    <app-qf-coalesce-editor
      [filters]="filters()"
      [initial]="initialCoalesce()"
      (commitArgs)="commitCoalesce.emit($event)"
      (cancel)="cancel.emit()"
    />
  }
}
