<article class="flex flex-col gap-3 pb-4">
  <header class="flex flex-row justify-between p-1">
    <div class="flex gap-3">
      <button
        mat-icon-button
        [matMenuTriggerFor]="addChild"
      >
        <mat-icon>add</mat-icon>
      </button>

      <mat-menu #addChild="matMenu">
        <button mat-menu-item (click)="addExpression.emit()">
          <mat-icon>rule_folder</mat-icon><span>Add Expression</span>
        </button>
        <button mat-menu-item (click)="addCondition.emit()">
          <mat-icon>rule</mat-icon><span>Add Condition</span>
        </button>
      </mat-menu>

      @if (form().expressions().value().length) {
        <!-- negation -->
        <mat-checkbox [formField]="form().not">NOT</mat-checkbox>
      }
    </div>

    <!-- delete expression -->
    <button mat-icon-button (click)="doDelete.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </header>

  <div class="expressions-items flex flex-col justify-stretch ml-4 mr-2">
    @for (item of form().expressions; track $index; let index = $index) {
      @if (index === 1) {
        <!-- operator -->
        <mat-button-toggle-group class="flex justify-stretch w-full" [formField]="form().operator" [hideSingleSelectionIndicator]="true">
          <mat-button-toggle value="and" class="flex-1 pl-1">AND</mat-button-toggle>
          <mat-button-toggle value="or" class="flex-1 pr-1">OR</mat-button-toggle>
        </mat-button-toggle-group>
      }

      @let expression = form().expressions[index];
      @if (isCondition(expression)) {
        <app-qb-condition [form]="expression" />
      } @else if (isLogical(expression)) {
        <app-qb-expression [form]="expression" />
      }
    }
  </div>
</article>
