<article class="flex flex-col gap-3 mb-4">
  <header class="flex flex-row justify-between p-1 gap-3">
    <!-- operator -->
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true">
      <mat-button-toggle class="pl-1">NOT</mat-button-toggle>
      <mat-button-toggle>AND</mat-button-toggle>
      <mat-button-toggle class="pr-1">OR</mat-button-toggle>
    </mat-button-toggle-group>

    <!-- delete expression -->
    <button mat-icon-button><mat-icon>delete</mat-icon></button>
  </header>

  <div class="flex flex-col flex-stretch ml-4 mr-2">
    @for (expression of model().expressions; track $index) {
      @if (isCondition(expression)) {
        <app-qb-condition [model]="expression" />
      } @else if (isLogical(expression)) {
        <app-qb-expression [model]="expression" />
      }
    }
  </div>
</article>
